.header-style{
    width: 1,920px;
    height: 100px;
    padding: 38px 162px 38px 162px;
    gap: 10px;
    border: 1px solid #DBDBDB;;
    
    }
.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: FiraGO;
font-size: 32px;
font-weight: 500;
line-height: 38.4px;
text-align: left;
color: #021526;
margin-top: 62px;
text-align: center;
}
.form-div{
width: 790px;
height: 1211px;

}
h5{
font-family: Helvetica Neue;
font-size: 16px;
font-weight: 500;
line-height: 19.54px;
text-align: left;
color: #1A1A1F;

}
:host ::ng-deep .form-check-input:checked {
    background-color:  #021526;
    border-color: #021526;
}
:host ::ng-deep .form-check-label {
    font-family: FiraGO;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    
}
.detinationForm{
    height: 190px;
    display: grid;
    gap: 10px;
    grid-template-columns:  auto auto;
   
}
.destination-style{
    margin-top: 60px;
    margin-bottom: 20px;
}
.destination-input{
    width: 384px;
height:42px;
border-radius: 6px ;
border: 1px solid #808A93;
}
textarea{
    border: 1px solid #808A93;
    width: 788px;
height: 135px;
padding: 10px ;
gap: 10px;
border-radius: 6px;
margin-top: 5px;
resize: none;
}

.upload-box {
    width: 788px;
    border: 2px dashed #d3d3d3;
    padding: 50px;
    text-align: center;
    position: relative;
    cursor: pointer;
    left: -10px;
  display: inline-block;
  }

  .upload-box input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 120px;
  }

  .upload-box::before {
    font-family: FontAwesome;
    font-size: 24px;
    color: #d3d3d3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


:host ::ng-deep  .btn-primary{
    border: 1px solid #F93B1D;
    width: 103px;
height: 47px;
padding: 10px 16px 10px 16px;
gap: 2px;
border-radius: 10px ;
color:  #F93B1D;
font-family: FiraGO;
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
text-align: center;
background-color: white;
margin-right: 16px;
  }
  

  :host ::ng-deep .btn-secondary{
    width:187px;
height: 47px;
padding: 10px 16px 10px 16px;
gap: 2px;
border-radius: 10px;
opacity: 0px;
background-color: #F93B1D;
font-family: FiraGO;
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
text-align: center;
color: #FFFFFF;

  }
  label{
    font-family: FiraGO;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
text-align: left;
color: #021526;

  }
 
 
  
  .uploaded-image {
      object-fit: cover; 
    opacity: 1 !important; 
    width: 92px;
height: 82px;
gap: 0px;
border-radius: 4px ;
opacity: 0px;

  }
  
  .upload-box2 {
    padding: 24px 14px 2px 24px;
  }
  .icon-image{
    width: 24px;
height: 24px;

gap: 0px;
border: 1px ;
opacity: 0px;

  }
  .uppload-icon-style{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    left: 401px;
    bottom: 18px;
    opacity: 10;
    background-color: rgb(241, 233, 233);
  }
  :host ::ng-deep .bi-trash3{
    margin-bottom: 4px;
    margin-left: 1.5px;
  }