<form class="region-form">
    <div>
      <h1>ფართობის მიხედვით</h1>
      <div class="region-flex">
        <div >
            <input type="text" class="form-control " id="inlineFormInputName2" placeholder="დან მ2">
            <h4>მინ. მ2</h4>
            <div *ngFor="let item of data">
                <span>{{item.area}}</span>
            </div>
      
        </div>
        <div >
            <input type="text" class="form-control " id="inlineFormInputName2" placeholder="დან მ2₾">
            <h4>მაქს.ფასი</h4>
            <div *ngFor="let item of data">
                <span>{{item.area}}</span>
            </div>
      
        </div>
       
      </div>
      <button type="submit" class="btn btn-primary ">არჩევა</button>
    </div>
  
    </form>