.region-form{
  position: relative;
width: 282px;
height: 198px;
padding: 24px 0px 0px 0px;
/* gap: 32px; */
border-radius: 10px;
border: 1px solid #DBDBDB;
display: flex;
flex-direction: column;
align-items: center;
margin-left: 710px;
top: -1132px;

background-color: white;

}
:host ::ng-deep .form-control{
    width: 41px;
    height: 42px;
    border-radius: 6px ;
    margin-left: 26px;
    border: 1px solid #808A93;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: center;

  }
h1{
font-size: 16px;
font-weight: 600;
line-height: 19.2px;
text-align: left;
margin-bottom: 20px;
color: #021526;
  }

:host ::ng-deep .btn-primary{
    width: 77px;
    border-radius: 8px;
    background-color: #F93B1D;
    border: none;
    margin-left: 170px;
    margin-top: 30px;

    }


    