<div [ngClass]="{'blur-background': agentAdded}">
  <header class="header-style">
    <img src="assets/headerimage/LOGO-02 3.png" alt="">
  </header>
  <div >
        <div class="bottom-div" >
            <div class="bottom-header">
                <!-- left dropdown div  -->
                <div class="dropdown-main-looking">
                    <div class="btn-group">
                        <button class="btn  dropdown-toggle button-texts"  [ngStyle]="{'background-color': backgroundColor}"   type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false" (click)="selectRegionFunc()"  >
                            რეგიონი    </button>
                    
                      </div>
                      
                      <div class="btn-group">
                        <button class="btn  dropdown-toggle button-texts" [ngStyle]="{'background-color': priceBackground}"   type="button" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false" (click)="drodownPriceFunc()">
                          საფასო კატეგორია
                        </button>
                      </div>
                      
                      <div class="btn-group">
                        <button class="btn  dropdown-toggle button-texts" [ngStyle]="{'background-color': spaceBackground}" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" (click)="selectSpaceFunc()">
                          ფართობი
                        </button>
                 
                      </div>
                      
                      <div class="btn-group">
                        <button class="btn  dropdown-toggle button-texts" [ngStyle]="{'background-color': roomBackground}"  (click)="selectRoomFunc()" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                          საძინებლის რაოდენობა
                        </button>
                 
                      </div>
                </div>
            
              <!-- right divs -->
                 <div>
                      <!-- add listing  -->
                      <div class="btn-group">
                        
                        <button routerLink="/list" class="btn  dropdown-toggle button-texts listing-styles text-color-list" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                            +
                          ლისტინგის დამატება
                        </button>
                      </div>
            
                          <!-- add agent -->
                          <div class="btn-group">
                        
                            <button (click)="openAgentModal()" class="btn  dropdown-toggle button-texts listing-styles agent-styles text-color-agent" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                                +
                             აგენტის დამატება
                            </button>
                          </div>
                 </div>
            </div>
        
            <!--  -->
          
        </div>
    
    
    <div style="display: flex; justify-content: center; opacity: 7;">
        <div style="width:1596px;">
            <div  style="margin-top: 16px; width: 600px; display: flex; justify-content: space-between;">
                <div class="btn-group region-style" >
                    <button class="btn   button-texts chosen" type="button"  data-bs-auto-close="true" aria-expanded="false">
                        თბილისი   <span aria-hidden="true">&times;</span> </button>
                 
                  </div>
                  
                  <div class="btn-group region-style">
                    <button class="btn   button-texts chosen" type="button" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                      55 მ2- 90მ2  <span aria-hidden="true">&times;</span>
                    </button>
               
                  </div>
                  
                  <div class="btn-group region-style">
                    <button class="btn   button-texts chosen" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                     20000ლ - 100000ლ  <span aria-hidden="true">&times;</span>
                    </button>
              
                  </div>
                  
                  <div class="btn-group region-style">
                    <button class="btn   button-texts chosen" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                      1  <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="btn-group ">
                    <button class="btn   button-texts chosen2" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                    გასუფთავება
                    </button>
                  </div>
            </div>
        </div>
    </div>
    <app-real-estate></app-real-estate>
  
    <app-region *ngIf="selectRegion" ></app-region>
    <app-price *ngIf="selectPrice"></app-price>
    <app-space *ngIf="selectSpace"></app-space>
    <app-room-number *ngIf="selectRoom"></app-room-number>
    
  </div>
</div>

<app-agent-modal    *ngIf="agentAdded" 
(alertClosed)="onAlertClosed()"></app-agent-modal>