<div class="main-component">
    <div class="grid-component">
        <div class="card"  *ngFor="let items of data" routerLink="/AgentPage">
            <img src={{items.image}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{items.price}}</h5>
              <div>
                <span><svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill iconStyles" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                  </svg></span>
                  <span class="texts">{{items.address}}</span>
                  <div style="display: flex; width: 214px;  height: 24px; justify-content: space-between; align-items: center; margin-top:10px">
                    <div style="align-items: center;">
                        <img class="iconStyles" src="assets/icons/bed.png" alt="">
                        <span class="texts">{{items.bedrooms}}</span>
                    </div>
                    <div>
                        <img class="iconStyles"  src="/assets/icons/Vector.png" alt="">
                        <span class="texts">{{items.area}}</span>
                    </div>
                    <div>
                        <img class="iconStyles"  src="assets/icons/Vector2.png" alt="">
                        <span class="texts">{{items.zip_code                        }}</span>
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>