/* @font-face {
    font-family: 'FiraGO';
    src: url('/assets/fonts/firago.woff2') format('woff2'),
         url('/assets/fonts/firago.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
   */
  body {
    font-family: 'FiraGO', sans-serif;
  }
  